.basket-count-icon {
    width: 15px;
    height: 15px;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}