.toggle-title-button {
  display: flex;
  align-items: center;
  padding-left: 5px;
  cursor: pointer;
  width: 134px;
  border-right: 1px solid #ddd;
}
.select-category-wrapper {
  display: flex;
  position: relative;
}
.select-ul-wrapper {
  position: absolute;
  top: 30px;
  height: 250px;
  width: 125px;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  z-index: 900;
}
.category-select-options {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 10px;
  cursor: pointer;
}
