.basket-list-ul {
    display: none;
    position: absolute;
    z-index: 999;
    left: -150px;
    top: 30px;
    background-color: white;
    border: 1px #eeeeee solid;
    box-shadow: 3px, 4px, 4px, 6px rgba(0,0,0, 0.12);
}