.top-bar {
    position: absolute;
    background: rgb(240,240,240);
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
}
.header-content-section {
    position: relative;
    padding-top: 32px;
}