.header-container {
    display: flex;
    justify-content: center;
}
.top-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    background: rgb(240, 240, 240);
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    menu {
        display: flex;
        align-items: center;
        &.top-bar-left {
            margin-left: -48px;
        }        
    }
    li {
        list-style: none;
        font-size: 11px;
        cursor: pointer;
        padding-left: 10px;
        padding-right: 12px;
    }
}
.header-right-wrapper {
    margin-left: 30px;
    margin-top: 20px;
}
.header-searchbar-wrapper {
    border: 2px solid #4285f4;
}
.top-bar-section {
    width: 1024px;
    display: flex;
    justify-content: space-between;
}
.header-content-section {
    display: flex;
    width: 1024px;
    position: relative;
    padding-top: 24px;
}