.header-link-wrapper {
  display: flex;
  text-decoration: none;
  align-items: center;
  color: #333;
  font-size: 12px;
}

.link-new-obx {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 4px;
  color: white;
  font-size: 8px;
  width: 14px;
  height: 14px;
  margin-left: 1px;
}
