.today-wrapper-section {
    display: flex;
    justify-content: center;
    position: relative;
}
.today-content-wrapper-article {
    width: 1020px;
    height: 1036px;
    background-color: blue;
}