.main-template-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.today-wrapper-section {
  display: flex;
  justify-content: center;
  position: relative;
}
.today-content-wrapper-article {
  width: 1020px;
  height: 1036px;
}

.main-categoty-view {
  position: relative;
  width: 1020px;
  height: 1036px;
}