.login-button-style {
    border: none;
    background-color: #6678ff;
    color: white;
    width: 70px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 4px 3px 3px 1px rgba(0,0,0, 0.1);
}